<a href="https://colab.research.google.com/github/Jett987/Discrete_Mathematics/blob/main/McDowellJett_CPSMA_3913_01_Module1_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project Part # 1 : CPSMA 3913 Dr. Lynam's Discrete Mathematics Project Part#1
Jett McDowell
(all coding was referenced from Dr. Jacob's github Discrete_Math python repository.)

# Project Part # 1: CPSMA 3913 Dr. Lynam's Discrete Mathematics utilizing [Dr. Jacob's](https://github.com/nurfnick) Discrete Mathematics github repository

## Project Module 1: Sets

### Jett McDowell  206812 

![Brown Swiss Small.jpg](https://raw.githubusercontent.com/Jett987/Discrete_Mathematics/main/Brown%20Swiss%20Small.jpg)

## 1.) Build and manipulate sets.

###(Part a.) Build 3 sets.

For my sets, I am going to use the different types of animals I use on my homestead. Please keep in mind I do not own each of these breeds, but I do own the types and a few of the breeds. My DiaryAnimals set will include animals I use for milk production. My MeatAnimals will include animals I can use for meat. My UtilityAnimals will include animals that I use for other purposes such as clearing land, guarding other animals, or maintaining pest control.

In [1]:
DairyAnimals={'Brown Swiss', 'Nubian Goat', 'Pygmy Goat', 'Shorthorn', 'Ayrshire', 'Guernsey'}
MeatAnimals={'Black Angus', 'Brahman', 'Hereford', 'Nubian Goat','Pygmy Goat','Naked Neck Chicken'}
UtilityAnimals={'Pygmy Goat', 'Anatolian Shepherd', 'Naked Neck Chicken', 'Cat', 'Nubian Goat'}

###Part b.) Creating a universal set.

First, I am going to create a new set that has 5 elements not contained in the previous sets.

In [2]:
Dogs={'German Shepherd','Yorkie','Schnauzer','Great Pyrenees','Golden Retriever'}

Next, I am going to create a universal set. The universal set include all elements in DairyAnimals, MeatAnimals, UtilityAnimals, and Dogs.

In [4]:
SetofSets = [DairyAnimals,MeatAnimals,UtilityAnimals,Dogs]
U = set() 
for sett in SetofSets:
  U = U.union(sett)

U

{'Anatolian Shepherd',
 'Ayrshire',
 'Black Angus',
 'Brahman',
 'Brown Swiss',
 'Cat',
 'German Shepherd',
 'Golden Retriever',
 'Great Pyrenees',
 'Guernsey',
 'Hereford',
 'Naked Neck Chicken',
 'Nubian Goat',
 'Pygmy Goat',
 'Schnauzer',
 'Shorthorn',
 'Yorkie'}

###Part c.) Intersections and unions.

I am now going obtain the union and intersection of my sets using the $.union$ and $.intersection$ functions.

DairyAnimals ∪ MeatAnimals

In [5]:
DairyAnimals.union(MeatAnimals)

{'Ayrshire',
 'Black Angus',
 'Brahman',
 'Brown Swiss',
 'Guernsey',
 'Hereford',
 'Naked Neck Chicken',
 'Nubian Goat',
 'Pygmy Goat',
 'Shorthorn'}

DairyAnimals ∪ UtilityAnimals

In [6]:
DairyAnimals.union(UtilityAnimals)

{'Anatolian Shepherd',
 'Ayrshire',
 'Brown Swiss',
 'Cat',
 'Guernsey',
 'Naked Neck Chicken',
 'Nubian Goat',
 'Pygmy Goat',
 'Shorthorn'}

MeatAnimals ∪ UtilityAnimals

In [7]:
MeatAnimals.union(UtilityAnimals)

{'Anatolian Shepherd',
 'Black Angus',
 'Brahman',
 'Cat',
 'Hereford',
 'Naked Neck Chicken',
 'Nubian Goat',
 'Pygmy Goat'}

DairyAnimals ∩ MeatAnimals

In [8]:
DairyAnimals.intersection(MeatAnimals)

{'Nubian Goat', 'Pygmy Goat'}

DairyAnimals ∩ UtilityAnimals

In [9]:
DairyAnimals.intersection(UtilityAnimals)

{'Nubian Goat', 'Pygmy Goat'}

MeatAnimals ∩ UtilityAnimals

In [10]:
MeatAnimals.intersection(UtilityAnimals)

{'Naked Neck Chicken', 'Nubian Goat', 'Pygmy Goat'}

It does not matter which set is called first. The union of a set will contain everything in each set, and it will not list the same element twice. The intersection will contain elements that appear within both sets. I have listed the first example, DiaryAnimals ∪ MeatAnimals in reverse order below to demonstrate.

MeatAnimals ∪ DairyAnimals

In [11]:
MeatAnimals.union(DairyAnimals)

{'Ayrshire',
 'Black Angus',
 'Brahman',
 'Brown Swiss',
 'Guernsey',
 'Hereford',
 'Naked Neck Chicken',
 'Nubian Goat',
 'Pygmy Goat',
 'Shorthorn'}

Similarly the intersection result is the same. Instead of DairyAnimals ∩ UtilityAnimals, I will do UtilityAnimals ∩ DairyAnimals.

In [12]:
UtilityAnimals.intersection(DairyAnimals)

{'Nubian Goat', 'Pygmy Goat'}

As you can see, there is no difference.

### Part d.)Computing the complements.

The complements of each set will contain elements listed in the first set that are not also listed in the second set. It will not include the element if it is in both the first set, and the second set.

Complement universal set - DairyAnimals

In [13]:
U-DairyAnimals

{'Anatolian Shepherd',
 'Black Angus',
 'Brahman',
 'Cat',
 'German Shepherd',
 'Golden Retriever',
 'Great Pyrenees',
 'Hereford',
 'Naked Neck Chicken',
 'Schnauzer',
 'Yorkie'}

Complement DairyAnimals-universal set

In [14]:
DairyAnimals-U

set()

Complement universal set - MeatAnimals

In [15]:
U-MeatAnimals

{'Anatolian Shepherd',
 'Ayrshire',
 'Brown Swiss',
 'Cat',
 'German Shepherd',
 'Golden Retriever',
 'Great Pyrenees',
 'Guernsey',
 'Schnauzer',
 'Shorthorn',
 'Yorkie'}

Complement MeatAnimals-universal set

In [16]:
MeatAnimals-U

set()

Complement universal set - UtilityAnimals

In [17]:
U-UtilityAnimals

{'Ayrshire',
 'Black Angus',
 'Brahman',
 'Brown Swiss',
 'German Shepherd',
 'Golden Retriever',
 'Great Pyrenees',
 'Guernsey',
 'Hereford',
 'Schnauzer',
 'Shorthorn',
 'Yorkie'}

Complement UtilityAnimals-universal set

In [18]:
UtilityAnimals-U

set()

Complement DairyAnimals - MeatAnimals

In [19]:
DairyAnimals-MeatAnimals

{'Ayrshire', 'Brown Swiss', 'Guernsey', 'Shorthorn'}

Complement MeatAnimals-DairyAnimals

In [20]:
MeatAnimals-DairyAnimals

{'Black Angus', 'Brahman', 'Hereford', 'Naked Neck Chicken'}

Complement MeatAnimals-UtilityAnimals

In [21]:
MeatAnimals-UtilityAnimals

{'Black Angus', 'Brahman', 'Hereford'}

Complement UtilityAnimals-MeatAnimals

In [22]:
UtilityAnimals-MeatAnimals

{'Anatolian Shepherd', 'Cat'}

Complement DairyAnimals-UtilityAnimals

In [23]:
DairyAnimals-UtilityAnimals

{'Ayrshire', 'Brown Swiss', 'Guernsey', 'Shorthorn'}

Complement UtilityAnimals-DairyAnimals

In [24]:
UtilityAnimals-DairyAnimals

{'Anatolian Shepherd', 'Cat', 'Naked Neck Chicken'}

As displayed in the lines of code above, the complement does not list the same elements when the set order is reversed. When taking the reverse of the universal set, the result is an empty set.

The line of code below evaluates the complement of the union of DairyAnimals and MeatAnimals and the intersetion of DairyAnimals and MeatAnimals.

Complement from DairyAnimals ∪ MeatAnimals - DairyAnimals ∩ MeatAnimals

In [25]:
DairyAnimals.union(MeatAnimals)-DairyAnimals.intersection(MeatAnimals)

{'Ayrshire',
 'Black Angus',
 'Brahman',
 'Brown Swiss',
 'Guernsey',
 'Hereford',
 'Naked Neck Chicken',
 'Shorthorn'}

###Part e.) Subsets

The lines of code below use the built in function to check if there are subsets. The first line is checking if DairyAnimals is a subset of the universal set. It returns true since all elements contained within the DiaryAnimals set are contained in the universal set.

In [26]:
DairyAnimals<=U

True

In [27]:
MeatAnimals<=U

True

In [28]:
UtilityAnimals<=U

True

In [29]:
DairyAnimals<=MeatAnimals

False

In [30]:
DairyAnimals<=UtilityAnimals

False

In [31]:
MeatAnimals<=DairyAnimals

False

In [32]:
MeatAnimals<=UtilityAnimals

False

In [33]:
UtilityAnimals<=DairyAnimals

False

In [34]:
UtilityAnimals<=MeatAnimals

False

It would appear the only subsets are from the universal set.

###Part f.) Power Sets

In [35]:
def DPpowerset(s):
  powerset = [[]]
  for i in s:
    for sett in powerset:
      powerset = powerset + [sett + [i]]
  return powerset

The power set below is for the set DairyAnimals. The set contained 6 elements. That resulted in $2^6=64$ elements.

In [36]:
 DPpowerset(DairyAnimals)

[[],
 ['Nubian Goat'],
 ['Shorthorn'],
 ['Nubian Goat', 'Shorthorn'],
 ['Brown Swiss'],
 ['Nubian Goat', 'Brown Swiss'],
 ['Shorthorn', 'Brown Swiss'],
 ['Nubian Goat', 'Shorthorn', 'Brown Swiss'],
 ['Pygmy Goat'],
 ['Nubian Goat', 'Pygmy Goat'],
 ['Shorthorn', 'Pygmy Goat'],
 ['Nubian Goat', 'Shorthorn', 'Pygmy Goat'],
 ['Brown Swiss', 'Pygmy Goat'],
 ['Nubian Goat', 'Brown Swiss', 'Pygmy Goat'],
 ['Shorthorn', 'Brown Swiss', 'Pygmy Goat'],
 ['Nubian Goat', 'Shorthorn', 'Brown Swiss', 'Pygmy Goat'],
 ['Guernsey'],
 ['Nubian Goat', 'Guernsey'],
 ['Shorthorn', 'Guernsey'],
 ['Nubian Goat', 'Shorthorn', 'Guernsey'],
 ['Brown Swiss', 'Guernsey'],
 ['Nubian Goat', 'Brown Swiss', 'Guernsey'],
 ['Shorthorn', 'Brown Swiss', 'Guernsey'],
 ['Nubian Goat', 'Shorthorn', 'Brown Swiss', 'Guernsey'],
 ['Pygmy Goat', 'Guernsey'],
 ['Nubian Goat', 'Pygmy Goat', 'Guernsey'],
 ['Shorthorn', 'Pygmy Goat', 'Guernsey'],
 ['Nubian Goat', 'Shorthorn', 'Pygmy Goat', 'Guernsey'],
 ['Brown Swiss', 'Pygmy Goat', 'Guernsey'],
 ['Nubian Goat', 'Brown Swiss', 'Pygmy Goat', 'Guernsey'],
 ['Shorthorn', 'Brown Swiss', 'Pygmy Goat', 'Guernsey'],
 ['Nubian Goat', 'Shorthorn', 'Brown Swiss', 'Pygmy Goat', 'Guernsey'],
 ['Ayrshire'],
 ['Nubian Goat', 'Ayrshire'],
 ['Shorthorn', 'Ayrshire'],
 ['Nubian Goat', 'Shorthorn', 'Ayrshire'],
 ['Brown Swiss', 'Ayrshire'],
 ['Nubian Goat', 'Brown Swiss', 'Ayrshire'],
 ['Shorthorn', 'Brown Swiss', 'Ayrshire'],
 ['Nubian Goat', 'Shorthorn', 'Brown Swiss', 'Ayrshire'],
 ['Pygmy Goat', 'Ayrshire'],
 ['Nubian Goat', 'Pygmy Goat', 'Ayrshire'],
 ['Shorthorn', 'Pygmy Goat', 'Ayrshire'],
 ['Nubian Goat', 'Shorthorn', 'Pygmy Goat', 'Ayrshire'],
 ['Brown Swiss', 'Pygmy Goat', 'Ayrshire'],
 ['Nubian Goat', 'Brown Swiss', 'Pygmy Goat', 'Ayrshire'],
 ['Shorthorn', 'Brown Swiss', 'Pygmy Goat', 'Ayrshire'],
 ['Nubian Goat', 'Shorthorn', 'Brown Swiss', 'Pygmy Goat', 'Ayrshire'],
 ['Guernsey', 'Ayrshire'],
 ['Nubian Goat', 'Guernsey', 'Ayrshire'],
 ['Shorthorn', 'Guernsey', 'Ayrshire'],
 ['Nubian Goat', 'Shorthorn', 'Guernsey', 'Ayrshire'],
 ['Brown Swiss', 'Guernsey', 'Ayrshire'],
 ['Nubian Goat', 'Brown Swiss', 'Guernsey', 'Ayrshire'],
 ['Shorthorn', 'Brown Swiss', 'Guernsey', 'Ayrshire'],
 ['Nubian Goat', 'Shorthorn', 'Brown Swiss', 'Guernsey', 'Ayrshire'],
 ['Pygmy Goat', 'Guernsey', 'Ayrshire'],
 ['Nubian Goat', 'Pygmy Goat', 'Guernsey', 'Ayrshire'],
 ['Shorthorn', 'Pygmy Goat', 'Guernsey', 'Ayrshire'],
 ['Nubian Goat', 'Shorthorn', 'Pygmy Goat', 'Guernsey', 'Ayrshire'],
 ['Brown Swiss', 'Pygmy Goat', 'Guernsey', 'Ayrshire'],
 ['Nubian Goat', 'Brown Swiss', 'Pygmy Goat', 'Guernsey', 'Ayrshire'],
 ['Shorthorn', 'Brown Swiss', 'Pygmy Goat', 'Guernsey', 'Ayrshire'],
 ['Nubian Goat',
  'Shorthorn',
  'Brown Swiss',
  'Pygmy Goat',
  'Guernsey',
  'Ayrshire']]

My universal set $U$ contains 17 elements, so it would be $2^{17}$ which would result in 131,072 elements.

I regard all of the animals on my homestead as important, but it's intersting to see how I could create specifics categories and evaluate them. Combining them, or seeing which animals might fall into multiple categories could prove useful to me in the future. I could see which animals fell into several different categories, and how they could be more useful than animals falling into a single category.