<a href="https://colab.research.google.com/github/Jett987/Discrete_Mathematics/blob/main/McDowellJett_CPSMA_3913_01_Module1_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project Part # 1 : MATH 2825 Dr. Lynam's Discrete Mathematics
Project Name: Programming Project 1
Jett McDowell
(all coding was referenced from Dr. Jacob's github Discrete_Math python repository.)

# Project Part # 1: CPSMA 3913 Dr. Lynam's Discrete Mtahematics utilizing [Dr. Jacob's](https://github.com/nurfnick) Discrete Mathematics github repository

## Project Module 1: Sets

### Jett McDowell  206812

## 1.) Build and manipulate some sets using a programming language.

###(Part a.)

For my sets, I am going to use the different types of animals I use on my homestead. Please keep in mind I do not own each of these breeds, but I do own the types and a few of the breeds. My DiaryAnimals set will include animals I use for milk production. My MeatAnimals will include animals I can use for meat. My UtilityAnimals will include animals that I use for other purposes such as clearning land, guarding other animals, or maintaining pest control.

In [ ]:
DairyAnimals={'Brown Swiss', 'Nubian Goat', 'Pygmy Goat', 'Shorthorn', 'Ayrshire', 'Guernsey'}
MeatAnimals={'Black Angus', 'Brahman', 'Hereford', 'Nubian Goat','Pygmy Goat','Naked Neck Chicken'}
UtilityAnimals={'Pygmy Goat', 'Anatolian Shepherd', 'Naked Neck Chicken', 'Cat', 'Nubian Goat'}

###Part b.)

First, I am going to create a new set that has 5 elements not contained in the previous sets.

In [ ]:
Dogs={'German Shepherd','Yorkie','Schnauzer','Great Pyrenees','Golden Retriever'}

Next, I am going to create a universal set. The universal set include all elements in DiaryAnimals, MeatAnimals, UtilityAnimals, and Dogs.

In [ ]:
SetofSets = [DairyAnimals,MeatAnimals,UtilityAnimals,Dogs]
U = set() 
for sett in SetofSets:
  U = U.union(sett)

U

{'Anatolian Shepherd',
 'Ayrshire',
 'Black Angus',
 'Brahman',
 'Brown Swiss',
 'Cat',
 'German Shepherd',
 'Golden Retriever',
 'Great Pyrenees',
 'Guernsey',
 'Hereford',
 'Naked Neck Chicken',
 'Nubian Goat',
 'Pygmy Goat',
 'Schnauzer',
 'Shorthorn',
 'Yorkie'}

###Part c.) Intersections and unions.

I am now going obtain the union and intersection of my sets.

DairyAnimals ∪ MeatAnimals

In [ ]:
DairyAnimals.union(MeatAnimals)

{'Ayrshire',
 'Black Angus',
 'Brahman',
 'Brown Swiss',
 'Guernsey',
 'Hereford',
 'Naked Neck Chicken',
 'Nubian Goat',
 'Pygmy Goat',
 'Shorthorn'}

DiaryAnimals ∪ UtilityAnimals

In [ ]:
DairyAnimals.union(UtilityAnimals)

{'Anatolian Shepherd',
 'Ayrshire',
 'Brown Swiss',
 'Cat',
 'Guernsey',
 'Naked Neck Chicken',
 'Nubian Goat',
 'Pygmy Goat',
 'Shorthorn'}

MeatAnimals ∪ UtilityAnimals

In [ ]:
MeatAnimals.union(UtilityAnimals)

{'Anatolian Shepherd',
 'Black Angus',
 'Brahman',
 'Cat',
 'Hereford',
 'Naked Neck Chicken',
 'Nubian Goat',
 'Pygmy Goat'}

DairyAnimals ∩ MeatAnimals

In [ ]:
DairyAnimals.intersection(MeatAnimals)

{'Nubian Goat', 'Pygmy Goat'}

DairyAnimals ∩ UtilityAnimals

In [ ]:
DairyAnimals.intersection(UtilityAnimals)

{'Nubian Goat', 'Pygmy Goat'}

MeatAnimals ∩ UtilityAnimals

In [ ]:
MeatAnimals.intersection(UtilityAnimals)

{'Naked Neck Chicken', 'Nubian Goat', 'Pygmy Goat'}

It does not matter which set is called first. The union of a set will contain everything in either set. The intersection will contain elements contained within both sets. I have listed the first example A ∪ B in reverse order below to demonstrate.

MeatAnimals ∪ DairyAnimals

In [ ]:
MeatAnimals.union(DairyAnimals)

{'Ayrshire',
 'Black Angus',
 'Brahman',
 'Brown Swiss',
 'Guernsey',
 'Hereford',
 'Naked Neck Chicken',
 'Nubian Goat',
 'Pygmy Goat',
 'Shorthorn'}

Similarly the intersection result is the same. Instead of DairyAnimals ∩ UtilityAnimals, I will do UtilityAnimals ∩ DairyAnimals.

In [ ]:
UtilityAnimals.intersection(DairyAnimals)

{'Nubian Goat', 'Pygmy Goat'}

As you can see, there is no difference.

### Part d.)Computing the complements.

The complements of each set will contain elements listed in the first set that are not also listed in the second set. It will not include the element if it is in both the first set, and the second set.

Complement universal set - DairyAnimals

In [ ]:
U-DairyAnimals

{'Anatolian Shepherd',
 'Black Angus',
 'Brahman',
 'Cat',
 'German Shepherd',
 'Golden Retriever',
 'Great Pyrenees',
 'Hereford',
 'Naked Neck Chicken',
 'Schnauzer',
 'Yorkie'}

Complement universal set - MeatAnimals

In [ ]:
U-MeatAnimals

{'Anatolian Shepherd',
 'Ayrshire',
 'Brown Swiss',
 'Cat',
 'German Shepherd',
 'Golden Retriever',
 'Great Pyrenees',
 'Guernsey',
 'Schnauzer',
 'Shorthorn',
 'Yorkie'}

Complement universal set - UtilityAnimals

In [ ]:
U-UtilityAnimals

{'Ayrshire',
 'Black Angus',
 'Brahman',
 'Brown Swiss',
 'German Shepherd',
 'Golden Retriever',
 'Great Pyrenees',
 'Guernsey',
 'Hereford',
 'Schnauzer',
 'Shorthorn',
 'Yorkie'}

The line of code below evaluates the complement of the union of DairyAnimals and MeatAnimals and the intersetion of DairyAnimals and MeatAnimals.

Complement from DiaryAnimals ∪ MeatAnimals - DairyAnimals ∩ MeatAnimals

In [ ]:
DairyAnimals.union(MeatAnimals)-DairyAnimals.intersection(MeatAnimals)

{'Ayrshire',
 'Black Angus',
 'Brahman',
 'Brown Swiss',
 'Guernsey',
 'Hereford',
 'Naked Neck Chicken',
 'Shorthorn'}

###Part e.) Subsets

The lines of code below use the built in function to check if there are subsets. The first section is checking if DairyAnimals is a subset of the universal set. It returns true since all elements contained within the DiaryAnimals set are contained in the universal set.

In [ ]:
DairyAnimals<=U

True

In [ ]:
MeatAnimals<=U

True

In [ ]:
UtilityAnimals<=U

True

In [ ]:
DairyAnimals<=MeatAnimals

False

In [ ]:
DairyAnimals<=UtilityAnimals

False

In [ ]:
MeatAnimals<=DairyAnimals

False

In [ ]:
MeatAnimals<=UtilityAnimals

False

In [ ]:
UtilityAnimals<=DairyAnimals

False

In [ ]:
UtilityAnimals<=MeatAnimals

False

It would appear the only subsets are from the universal set.

###Part f.) Power Sets

In [ ]:
def DPpowerset(s):
  powerset = [[]]
  for i in s:
    for sett in powerset:
      powerset = powerset + [sett + [i]]
  return powerset

The power set below is for the set DairyAnimals. The set contained 6 elements. That resulted in $2^6=64$ elements.

In [ ]:
 DPpowerset(DairyAnimals)

[[],
 ['Brown Swiss'],
 ['Nubian Goat'],
 ['Brown Swiss', 'Nubian Goat'],
 ['Ayrshire'],
 ['Brown Swiss', 'Ayrshire'],
 ['Nubian Goat', 'Ayrshire'],
 ['Brown Swiss', 'Nubian Goat', 'Ayrshire'],
 ['Shorthorn'],
 ['Brown Swiss', 'Shorthorn'],
 ['Nubian Goat', 'Shorthorn'],
 ['Brown Swiss', 'Nubian Goat', 'Shorthorn'],
 ['Ayrshire', 'Shorthorn'],
 ['Brown Swiss', 'Ayrshire', 'Shorthorn'],
 ['Nubian Goat', 'Ayrshire', 'Shorthorn'],
 ['Brown Swiss', 'Nubian Goat', 'Ayrshire', 'Shorthorn'],
 ['Pygmy Goat'],
 ['Brown Swiss', 'Pygmy Goat'],
 ['Nubian Goat', 'Pygmy Goat'],
 ['Brown Swiss', 'Nubian Goat', 'Pygmy Goat'],
 ['Ayrshire', 'Pygmy Goat'],
 ['Brown Swiss', 'Ayrshire', 'Pygmy Goat'],
 ['Nubian Goat', 'Ayrshire', 'Pygmy Goat'],
 ['Brown Swiss', 'Nubian Goat', 'Ayrshire', 'Pygmy Goat'],
 ['Shorthorn', 'Pygmy Goat'],
 ['Brown Swiss', 'Shorthorn', 'Pygmy Goat'],
 ['Nubian Goat', 'Shorthorn', 'Pygmy Goat'],
 ['Brown Swiss', 'Nubian Goat', 'Shorthorn', 'Pygmy Goat'],
 ['Ayrshire', 'Shorthorn', 'Pygmy Goat'],
 ['Brown Swiss', 'Ayrshire', 'Shorthorn', 'Pygmy Goat'],
 ['Nubian Goat', 'Ayrshire', 'Shorthorn', 'Pygmy Goat'],
 ['Brown Swiss', 'Nubian Goat', 'Ayrshire', 'Shorthorn', 'Pygmy Goat'],
 ['Guernsey'],
 ['Brown Swiss', 'Guernsey'],
 ['Nubian Goat', 'Guernsey'],
 ['Brown Swiss', 'Nubian Goat', 'Guernsey'],
 ['Ayrshire', 'Guernsey'],
 ['Brown Swiss', 'Ayrshire', 'Guernsey'],
 ['Nubian Goat', 'Ayrshire', 'Guernsey'],
 ['Brown Swiss', 'Nubian Goat', 'Ayrshire', 'Guernsey'],
 ['Shorthorn', 'Guernsey'],
 ['Brown Swiss', 'Shorthorn', 'Guernsey'],
 ['Nubian Goat', 'Shorthorn', 'Guernsey'],
 ['Brown Swiss', 'Nubian Goat', 'Shorthorn', 'Guernsey'],
 ['Ayrshire', 'Shorthorn', 'Guernsey'],
 ['Brown Swiss', 'Ayrshire', 'Shorthorn', 'Guernsey'],
 ['Nubian Goat', 'Ayrshire', 'Shorthorn', 'Guernsey'],
 ['Brown Swiss', 'Nubian Goat', 'Ayrshire', 'Shorthorn', 'Guernsey'],
 ['Pygmy Goat', 'Guernsey'],
 ['Brown Swiss', 'Pygmy Goat', 'Guernsey'],
 ['Nubian Goat', 'Pygmy Goat', 'Guernsey'],
 ['Brown Swiss', 'Nubian Goat', 'Pygmy Goat', 'Guernsey'],
 ['Ayrshire', 'Pygmy Goat', 'Guernsey'],
 ['Brown Swiss', 'Ayrshire', 'Pygmy Goat', 'Guernsey'],
 ['Nubian Goat', 'Ayrshire', 'Pygmy Goat', 'Guernsey'],
 ['Brown Swiss', 'Nubian Goat', 'Ayrshire', 'Pygmy Goat', 'Guernsey'],
 ['Shorthorn', 'Pygmy Goat', 'Guernsey'],
 ['Brown Swiss', 'Shorthorn', 'Pygmy Goat', 'Guernsey'],
 ['Nubian Goat', 'Shorthorn', 'Pygmy Goat', 'Guernsey'],
 ['Brown Swiss', 'Nubian Goat', 'Shorthorn', 'Pygmy Goat', 'Guernsey'],
 ['Ayrshire', 'Shorthorn', 'Pygmy Goat', 'Guernsey'],
 ['Brown Swiss', 'Ayrshire', 'Shorthorn', 'Pygmy Goat', 'Guernsey'],
 ['Nubian Goat', 'Ayrshire', 'Shorthorn', 'Pygmy Goat', 'Guernsey'],
 ['Brown Swiss',
  'Nubian Goat',
  'Ayrshire',
  'Shorthorn',
  'Pygmy Goat',
  'Guernsey']]

My universal set $U$ contains 17 elements, so it would be $2^{17}$ which would result in 131,072 elements.